@font-face {
	font-family: 'brotherdeluxe';
	src: url(brotherDeluxe1350____2011.ttf);
}

@font-face {
	font-family: 'germania';
	src: url(Germania.ttf);
}

html, body {
	margin: 0;
	height: 100%;
	overflow-y: scroll;
}

body {
	font-size: 16px;
	font-family: 'brotherdeluxe';
	text-align: justify;
	background-image: url('body_bgi.png');
	background-size: 100%;
	background-attachment: fixed;
	z-index: 1;
}


header {
	width: 100%;
	height: auto;
	background-image: url(header_bgi.png);
	margin: 0 0;
	box-shadow: 0px 14px 39px 8px rgba(0,0,0,0.75);
	z-index: 0;
}

nav {
	width: 950px;
	height: 243px;
	margin: 0em auto;
	display: block;
	text-align: center;
	z-index: 1;
}

nav a {
	display: inline-block
}

nav img {
	width:251px;
	height: auto;
}

nav a img {
	display: block;
	width: 164px;
	height: 60px;
}

main {
	width: 950px;
	margin: 0em auto;
	background-image: url(main_bgi.png);
	background-size: 100%;
	box-shadow: 0px 0px 98px 10px rgba(0,0,0,0.75);
	height: auto !important;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

main p, article {
	margin: 0em 20px;
}



h1, h2 {
	font-family: 'germania';
	font-size: 36px;
	color: #ae1816;
	text-align: center;
}

h1, h1 u {
	margin-top: 0px;
}

article {
	margin: 0 10px;
	/*border-bottom: 5px solid #ae1816;*/
}

#history h2 {
	font-size: 24px;
	color: #000;
}

#history img {
	width: 100%;
	height: auto;
	float: left;
	margin: 10px;
}

#SC {
	text-align: center;
}

section {
	margin: 10px;
	margin-top: 0;
}

table {
	word-spacing: 3px;
}

th {
	border-bottom:  3px solid #ae1816;
}

td {
	border-bottom:  3px solid #ae1816;
	border-right:  1px solid #ae1816;
}

input[type="text"], textarea, input[type="submit"] {
		font-family: 'brotherdeluxe';
	}

input[type="submit"] {
	margin-bottom: 10px;
}

#links {
	text-align: center;
}

@media all and (max-width: 950px){
	
	html, body {
		width: 950px;
	}
}

@media all and (max-width: 480px){
	
	body {
		font-size: 30px;
	}
	
	body h1, h2, #history h1 {
		font-size: 52px;
	}
	
	
	 #history h2 {
		 font-size: 46px;
	 }
	 
	#links h3 {
		font-size: 32px;
	}
	
	input[type="text"], textarea, input[type="submit"] {
		font-size: 28px;
	}
	
	table {
		font-size: 22px;
	}
}